version: '3.8'

services:
  # Local Spark SQL for testing (alternative to Databricks)
  spark-sql:
    image: bitnami/spark:3.5
    container_name: local-spark-sql
    ports:
      - "8080:8080"  # Spark UI
      - "4040:4040"  # Spark App UI
      - "10000:10000"  # HiveServer2
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    volumes:
      - ./src:/opt/spark/work-dir/src
      - ./flyway:/opt/spark/work-dir/flyway
    command: >
      /opt/bitnami/spark/bin/spark-sql
      --master local[*]
      --conf spark.sql.warehouse.dir=/tmp/spark-warehouse
      --conf spark.sql.adaptive.enabled=true
      --conf spark.sql.adaptive.coalescePartitions.enabled=true

  # Flyway for migration testing
  flyway:
    image: flyway/flyway:9-alpine
    container_name: local-flyway
    depends_on:
      - spark-sql
    volumes:
      - ./src:/flyway/sql
      - ./flyway/conf:/flyway/conf
    environment:
      - FLYWAY_URL=jdbc:hive2://spark-sql:10000/default
      - FLYWAY_USER=spark
      - FLYWAY_PASSWORD=spark
      - JDK_JAVA_OPTIONS=--enable-native-access=ALL-UNNAMED
    command: ["info"]

  # Jupyter for notebook testing
  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: local-jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./src:/home/jovyan/work/src
      - ./notebooks:/home/jovyan/work/notebooks
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: >
      start-notebook.sh
      --NotebookApp.token=''
      --NotebookApp.password=''
      --NotebookApp.allow_origin='*'
      --NotebookApp.ip='0.0.0.0'

networks:
  default:
    name: synapse-migration-local
